repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.11.0
    hooks:
      - id: markdownlint-cli2
        args: ["--config", ".markdownlint.json"]
        files: ^docs/

  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs build --strict
        entry: mkdocs
        args: [build, --strict]
        language: system
        pass_filenames: false
        stages: [pre-push]
